.md-content {
  width: 100%;
}

#content {
  width: 550px;
  margin: auto;
}

#display-name {
  display: inline-block;
  margin-left: 16px;
}

#edit {
  margin: 0 auto;
  max-width: 256px;
}

.info-block {
  margin: 16px 32px;
}

.md-caption, .md-subheading {
  display: inline-block;
  width: 100%;
}
