.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.md-chip {
  margin: 2px auto;
  white-space: normal;
  height: auto;
  text-align: center;
}

.md-primary {
  background-color: #ffffff;
}
