<div id="social-authorization">
  <form action="http://localhost:8080/citizen/signin/facebook" method="post">
    <button type="submit" class="btn btn-block btn-social btn-facebook"
            style="margin: 4px; width: calc(100% - 8px); color: #fff">
      <span class="fa fa-facebook"></span>
      Sign in with Facebook
    </button>
  </form>
  <form action="http://localhost:8080/citizen/signin/google" method="post">
    <button type="submit" class="btn btn-block btn-social btn-google"
            style="margin: 4px; width: calc(100% - 8px); color: #fff">
      <span class="fa fa-google"></span>
      Sign in with Google+
    </button>
  </form>
</div>
