<!--Note that every `template` (just like THIS file must have just ONE root element)-->
<div id="hello-world">
  <!--<h1>
    Hello, my friend!
  </h1>

  <br/>

  <p>
    &lt;!&ndash;`author` takes from main.js that is included as `script` in .vue file&ndash;&gt;
    Author: {{ author }}
  </p>-->
  <md-card>
    <md-card-header>
      <div class="md-title">
        Material Design With Vue.js 2 Demo
      </div>

      <div class="md-subhead">
        by shrralis
      </div>
    </md-card-header>

    <md-card-content>

    </md-card-content>
  </md-card>
</div>
