.md-display-1 {
  text-align: center;
}
.container
{
  position: relative;
}

.container .content
{
  position: absolute;
  bottom: 0px;
}
img {
  cursor: pointer;
}

.myMap {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
