<div id="root">

  <div id="myModal" class="modal">
    <div class="modal-wrapper">
      <div class="modal-content">
        <form id="myForm" novalidate class="md-layout-row md-gutter" @submit.prevent="validateData">
          <md-card class="md-flex-50 md-flex-small-100">

            <span class="close" @click="clearForm">&times;</span>

            <md-card-header>
              <div class="md-title">Create new issue</div>
            </md-card-header>

            <md-card-content>

              <md-field :class="getValidationClass('title')">
                <label for="title">Title</label>
                <md-input name="title" id="title" :disabled="sending" v-model.trim="form.title"/>
                <span class="md-error" v-if="!$v.form.title.required">Title is required</span>
                <span class="md-error"
                      v-else-if="!$v.form.title.minLength">Title must be at least 4 characters length</span>
                <span class="md-error"
                      v-else-if="!$v.form.title.maxLength">Title can't be longer than 32 characters</span>
              </md-field>

              <md-field :class="getValidationClass('desc')">
                <label>Description</label>
                <md-textarea id="desc" v-model.trim="form.desc"></md-textarea>
                <span class="md-error" v-if="!$v.form.desc.required">Description is required</span>
                <span class="md-error"
                      v-if="!$v.form.desc.minLength">Description must be at least 8 characters length</span>
                <span class="md-error"
                      v-if="!$v.form.desc.maxLength">Description can't be longer than 2048 characters</span>
              </md-field>

              <md-field :class="getValidationClass('type')">
                <label for="type">Type</label>
                <md-select id="type" name="type" v-model="form.type">
                  <md-option value="1">Problem</md-option>
                  <md-option value="2">Info</md-option>
                  <md-option value="3">Feedback</md-option>
                </md-select>
                <span class="md-error" v-if="!$v.form.type.required">Please, choose the type</span>
              </md-field>

              <md-field :class="getValidationClass('image')">
                <label>Add an image</label>
                <md-file v-model="form.image" accept="image/*" id="uploadImage" @change="previewImage"/>
                <span class="md-error" v-if="!$v.form.image.required">Please, attach an image</span>
              </md-field>

              <img src="" id="preview" hidden>

            </md-card-content>

            <md-card-actions>
              <md-button type="submit" class="md-raised md-primary" :disabled="sending" id="save">Create</md-button>
            </md-card-actions>

          </md-card>
        </form>
      </div>
    </div>
  </div>

  <md-snackbar :md-duration=5000 :md-active.sync="showSnackBar" md-persistent>
    <span>Please, log in to create an issue</span>
    <md-button class="md-primary" @click="snackBarAction()">Login</md-button>
  </md-snackbar>

  <div id="map"></div>

  <div id="issuesByMarker">
    <md-dialog :md-active.sync="showDialog" @md-closed="onCancelIssuesDialog" :md-fullscreen="false">
      <md-dialog-title>
        All issues by marker:
      </md-dialog-title>
      <br>
      <md-dialog-content>
        <div v-for="issue in issues" :key="issue.id">
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-70">
              <a @click="redirectToIssue(issue.id)">
                <h2>{{ issue.title }}</h2>
              </a>
              <p>{{issue.description.substring(0,20)}}...</p>
              <hr align="center" width="100%" size="2" color="grey">
            </div>
            <div class="md-layout-item md-size-30">
              <div class="myImage">
                <div v-if="issue.typeId===1">
                  <img src="../../assets/caution-large.png" width="50px" height="50px">
                  <div style="text-align: center">Problem</div>
                </div>
                <div v-else-if="issue.typeId===2">
                  <img src="../../assets/info-large.png" width="50px" height="50px">
                  <div style="text-align: center">Info</div>
                </div>
                <div v-else-if="issue.typeId===3">
                  <img src="../../assets/feedback-large.png" width="50px" height="50px">
                  <div style="text-align: center">Feedback</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </div>

</div>

