<div xmlns:v-on="http://www.w3.org/1999/xhtml">

<div id="map" ></div>


  <div id="myModal" class="modal">

    <div class="modal-content">
      <md-content class="md-elevation-24">

      <form id="myForm" novalidate class="md-layout-row md-gutter" @submit.prevent="validateData">

        <md-card class="md-flex-50 md-flex-small-100">

          <span class="close" @click="reset">&times;</span>

          <md-card-header>
            <div class="md-title">Create new issue</div>
          </md-card-header>



          <md-card-content>


            <md-field :class="getValidationClass('title')">
              <label for="title">Title</label>
              <md-input name="title" id="title" :disabled="sending"  v-model="form.title"/>
              <span class="md-error" v-if="!$v.form.title.required">Title name is required</span>
              <span class="md-error" v-else-if="!$v.form.title.minLength">Invalid title</span>
            </md-field>



            <md-field :class="getValidationClass('desc')">
              <label>Description</label>
              <md-textarea id="desc" v-model="form.desc"></md-textarea>
              <span class="md-error" v-if="!$v.form.desc.minLength">Too short description</span>
            </md-field>


        <md-field :class="getValidationClass('type')">
          <label for="type">Type</label>
            <md-select id="type" name="type" v-model="form.type">
              <md-option value="1">Category 1</md-option>
              <md-option value="2">Category 2</md-option>
              <md-option value="3">Category 3</md-option>
              <md-option value="4">Category 4</md-option>
            </md-select>
          <span class="md-error" v-if="!$v.form.type.required">Type is required</span>
        </md-field>


        <md-field>
        <label>Add image</label>
        <md-file accept="image/*" />
        </md-field>


            <md-card-actions>
              <md-button type="submit" class="md-raised md-primary" :disabled="sending" id="save">Create</md-button>
            </md-card-actions>

          </md-card-content>
          </md-card>
      </form>
    </md-content>
    </div>

  </div>

</div>
