#map {
  margin: auto;
  width:  100%;
  height: 100%;
  color: #000000;
}
#root {
  height: 100%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-content {
  margin: 0 auto;
  width: 30%;
  min-width: 300px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 10px;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#desc {
  resize: none;
}

#preview {
  max-height: 200px;
  min-height: 200px;
}
